main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

select,
select > option{
    text-transform: capitalize;
}

.alertCustom{
    position: fixed;
    top: 0;
    right: 0;
    
}

.sectionText{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentImg img{
    height: 600px;
    object-fit: fill;
    object-position: center;
}

.contentImg{
    display: flex;
    justify-content: center;
}

.titleHeader{
    font-size: 2em !important;
}
