main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

select,
select > option{
    text-transform: capitalize;
}

.alertCustom{
    position: fixed;
    top: 0;
    right: 0;
    
}